<ul>
  {{#each model as |todoList|}}
    {{log todoList.creators}}
      <li>{{todoList.id}}: {{todoList.title}}
          <ul>
            {{#each todoList.creators as |singleCreator|}}
                <li>
                  {{singleCreator.id}}
                </li>
            {{/each}}
          </ul>
      </li>
  {{/each}}
</ul>
